@charset "UTF-8";
*{margin: 0;padding: 0;box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
ul, li{list-style: none;}
img{vertical-align: inherit;}
body{
    background-color: #fff;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}